<nav class="navbar navbar-expand-lg bg-white shadow-sm fixed-top border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-danger fs-3" href="/listings">
      <i class="fa-solid fa-compass me-2"></i> Wanderlust
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark px-3" href="/listings">All Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark px-3" href="/listings/new">
            <i class="fa-solid fa-plus text-danger me-1"></i> Create Listing
          </a>
        </li>
      </ul>
      
      <form
        class="d-flex mx-auto my-2 my-lg-0"
        action="/listings"
        method="GET"
        style="max-width: 400px; width: 100%"
      >
        <div class="input-group">
          <input
            class="form-control"
            type="search"
            name="search"
            placeholder="Search listings..."
            aria-label="Search"
            autocomplete="off"
          />
          <button class="btn btn-outline-danger" type="submit">
            <i class="fa-solid fa-search"></i>
          </button>
        </div>
      </form>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if (!currentUser) { %>
        <li class="nav-item">
          <a class="nav-link text-dark px-3" href="/user/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark px-3" href="/user/login">Login</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <form action="/user/logout" method="POST" class="d-inline">
            <button type="submit" class="nav-link btn btn-link text-dark px-3">
              <i class="fa-solid fa-right-from-bracket text-danger me-1"></i> Logout
            </button>
          </form>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>